<!DOCTYPE html>
<html>
  <body onload="downLoad()">
    <div id="layer2" class="layer2_class">
        <script type="text/javascript">
                alert('抱歉讓你久等了，由於此網站是由用一臺小筆電架設，網站需要即時繪圖更新導致Loading緩慢，敬請見諒！');
        </script>    
    </div>
  </body>
</html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='dist/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='dist/css/sb-admin-2.css') }}" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper" sytle:color>

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-shopping-basket"></i>
                </div>
                <div class="sidebar-brand-text mx-3">單一菜價資訊 <sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <span>首頁</span></a>
            </li>





            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                資訊欄
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item active">
                <a class="nav-link" href="#linegraph">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>價格波動圖
                    </span></a>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="#boxplot">
                    <i class="fa fa-fw fa-box"></i>
                    <span>盒狀圖</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="#infocard">
                    <i class="fas fa-fw fa-table"></i>
                    <span>蔬菜/水果資訊卡</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div class="container-fluid">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                            alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>

                            <!-- Area Chart -->
             <body data-spy="scroll" data-target=".navbar" data-offset="50">
                    <div class="card border-success  border mb-2 ">
                        <div class="card " id="linegraph">
                            <div class=" card-header d-flex flex-row align-items-center justify-content-between container-fluid text-white">
                                價格波動圖 
                                <div class="card shadow mb-3">    
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                          <a class="nav-link active" data-toggle="tab" href="#week" aria-selected="false" >1w</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link"  data-toggle="tab" href="#month" role="tab" aria-selected="false">1m</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link"  data-toggle="tab" href="#threemonth" role="tab" aria-selected="false">3m</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link"  data-toggle="tab" href="#sixmonth" role="tab" aria-selected="false">6m</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link"  data-toggle="tab" href="#year" role="tab" aria-selected="false">1y</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link"  data-toggle="tab" href="#fiveyear" role="tab" aria-selected="false">Overall</a>
                                        </li>
                                      </ul>
                                </div>
                            </div>
                            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script> 
                            <script src="{{ url_for('static', filename='dist/js/plots.js') }}"></script> 
                                    <div class="card">
                                        <div class="tab-content">
                                            <div id = 'week' class="tab-pane fade show active" role="tabpanel" aria-labelledby="contact-tab">
                                                <div id='chart0'></div>
                                                <script type='text/javascript'>
                                                  var graphs = {{plot0 | safe}};
                                                  Plotly.plot('chart0',graphs,{});
                                                </script>
                                            </div>
                                            <div id = 'month' class="tab-pane fade" role="tabpanel" aria-labelledby="contact-tab">
                                                <div id='chart1'></div>
                                                <script type='text/javascript'>
                                                var graphs = {{plot1 | safe}};
                                                Plotly.plot('chart1',graphs,{});
                                              </script>
                                            </div>
                                            <div id = 'threemonth' class="tab-pane fade" role="tabpanel" aria-labelledby="contact-tab">
                                                <div id='chart2'></div>
                                                <script type='text/javascript'>
                                                  var graphs = {{plot2 | safe}};
                                                  Plotly.plot('chart2',graphs,{});
                                                </script>
                                            </div>
                                            <div id = 'sixmonth' class="tab-pane fade" role="tabpanel" aria-labelledby="contact-tab">
                                                <div id='chart3'></div>
                                                <script type='text/javascript'>
                                                  var graphs = {{plot3 | safe}};
                                                  Plotly.plot('chart3',graphs,{});
                                                </script>
                                            </div>
                                            <div id = 'year' class=" tab-pane fade" role="tabpanel" aria-labelledby="contact-tab">
                                                <div id='chart4'></div>
                                                <script type='text/javascript'>
                                                  var graphs = {{plot4 | safe}};
                                                  Plotly.plot('chart4',graphs,{});
                                                </script>
                                            </div>
                                            <div id = 'fiveyear' class="tab-pane fade" role="tabpanel" aria-labelledby="contact-tab">
                                                <div id='chart5'></div>
                                                <script type='text/javascript'>
                                                  var graphs = {{plot5 | safe}};
                                                  Plotly.plot('chart5',graphs,{});
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                    </div> 
                </div>
            </body>
            <div class="container-fluid">
                <div class="jumbotron  bg-white text-center text-gray-800">
                  <h4 class="display-4">更多關於<span class="font-weight-bold">當週價格</span>與<span class="font-weight-bold">歷史價格</span></h4> 
                  <p class="lead text-gray-800">
                    蔬菜/水果會因為季節、天然災害、進出口貿易等等因素而價格改變，氣候變遷也可能造成蔬菜的產季產生變化...
                   </p>
                </div> 
              </div>
                <div class="row">
                    <div class="col-sm-4 container-fluid mt-2">
                        <h4>A boxplot shows the information that you need</h4>
                    </div>
                    <div class="col-sm-8">
                        <div class="card border-success border mb-2" style="height: 30rem" id="boxplot">
                          <div class="card-body">
                            <h5 class="card-title">Boxplot</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <div class="card  border-success border mb-2"style="height: 30rem"  id="infocard">
                          <div class="card-body ">
                            <h5 class="card-title">Information Box</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4 container-fluid mt-2">
                        <div><h4>A scatter plot show the s</h4></div>
                    </div>
                </div>
            </div>
                    
    



            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='dist/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='dist/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='dist/js/sb-admin-2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/plots.js') }}"></script>
</body>

</html>